@page "/"

@using ISI_Restaurant.BlazorApp.Data
@using ISI_Restaurant.Shared.Models
@using ISI_Restaurant.BlazorApp.Shared
@inject OrderState OrderState
@inject FetchDataService FetchDataService


@if (menuItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="main">
        <ul class="pizza-cards">
            @foreach (var item in menuItems)
            {
                <li @onclick="@(() => OrderState.ShowConfigurePizzaDialog(item))" style="background-image: url('@item.PhotoLocation')">
                    <div class="pizza-info">
                        <span class="title">@item.Name</span>
                        @item.Description
                        <span class="price">@item.GetFormattedPrice()</span>
                    </div>
                </li>
            }

        </ul>
    </div>

    <div class="sidebar">
        @if (Order.Items.Any())
        {
            <div class="order-contents">
                <h2>Twoje zamówienie</h2>

                @foreach (var pizza in Order.Items)
                {
                    <ShoppingCart Pizza="pizza" OnRemoved="@(() => OrderState.RemoveConfiguredPizza(pizza))" />
                }
            </div>
        }
        else
        {
            <div class="empty-cart">Twój koszyk<br>jest pusty</div>
        }

        <div class="order-total @(Order.Items.Any() ? "" : "hidden")">
            Koszt:
            <span class="total-price"> @Order.GetFormattedCalculatedPrice()</span>
            <a href="checkout" class="@(Order.Items.Count == 0 ? "btn btn-warning disabled" : "btn btn-warning")">
                Zamów >
            </a>
        </div>
    </div>
}

@if (OrderState.ShowingConfigureDialog)
{
    <ConfigureProductDialog Pizza="OrderState.Pizza"
        OnCancel="OrderState.CancelConfigurePizzaDialog"
        OnConfirm="OrderState.ConfirmConfigurePizzaDialog" />
}


@code
{
    private IEnumerable<Product> menuItems;
    Order Order => OrderState.Order;

    protected override async Task OnInitializedAsync()
    {
        menuItems = await FetchDataService.LoadMenu();
    }
}