@using ISI_Restaurant.Shared.Models

<div class="form-field">
    <label>Imię:</label>
    <div>
        <InputText @bind-Value="Order.CustomerData.FirstName" />
        <ValidationMessage For="@(() => Order.CustomerData.FirstName)" />
    </div>
</div>

<div class="form-field">
    <label>Nazwisko:</label>
    <div>
        <InputText @bind-Value="Order.CustomerData.LastName" />
        <ValidationMessage For="@(() => Order.CustomerData.LastName)" />
    </div>
</div>

<div class="form-field">
    <label>Telefon:</label>
    <div>
        <InputText @bind-Value="Order.CustomerData.PhoneNumber" />
        <ValidationMessage For="@(() => Order.CustomerData.PhoneNumber)" />
    </div>
</div>

<div class="form-field">
    <label>Email:</label>
    <div>
        <InputText @bind-Value="Order.CustomerData.EmailAddress" />
        <ValidationMessage For="@(() => Order.CustomerData.EmailAddress)" />
    </div>
</div>

<div class="form-field">
    <label>Ulica:</label>
    <div>
        <InputText @bind-Value="Order.CustomerData.Address.Street" />
        <ValidationMessage For="@(() => Order.CustomerData.Address.Street)" />
    </div>
</div>

<div class="form-field">
    <label>Miasto:</label>
    <div>
        <InputText @bind-Value="Order.CustomerData.Address.City" />
        <ValidationMessage For="@(() => Order.CustomerData.Address.City)" />
    </div>
</div>

<div class="form-field">
    <label>Kod pocztowy:</label>
    <div>
        <InputText @bind-Value="Order.CustomerData.Address.PostalCode" />
        <ValidationMessage For="@(() => Order.CustomerData.Address.PostalCode)" />
    </div>
</div>

<div class="form-field">
    <label>Rodzaj dostawy:</label>
    <div>
        <InputSelect @bind-Value=Order.DeliveryType>
            <option>(wybierz)</option>
            <option value="PICKUP">Odbiór własny</option>
            <option value="COURIER_DELIVERY">Dostawa</option>
        </InputSelect>
        <ValidationMessage For="@(() => Order.DeliveryType)" />
    </div>
</div>

<DeliveryPointsMap ShowMap=@MapToBeShown></DeliveryPointsMap>


@code {
    [Parameter] public Order Order { get; set; }

    public bool MapToBeShown => (Order.DeliveryType is { } && Order.DeliveryType == "PICKUP");
}
